<!DOCTYPE html>
<html>
  <head>
    <title>RailApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
		<div class="header">
			<div class="header-container clearfix">
				<h1 class="pagetitle">
					<%= image_tag("Rail_Book.png", :size => "273x30", :alt => "") %>
				</h1>
			</div>
		</div>
    <%= yield %>
  </body>
</html>
